<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>98</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>97</string>
					<key>Timestamp</key>
					<string>730061948.153982</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/Coordinators/ProfileCoordinator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func pushAboutAppButton() {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        print("showUsefulScreen")
        let viewController = AboutAppViewController()
        viewController.profileCoordinator = self
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>91</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>90</string>
					<key>Timestamp</key>
					<string>730034740.275792</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/Coordinators/ProfileCoordinator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func pushContactOfferButton() {
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>        print("showUsefulScreen")
        let viewController = ContractOfferViewController()
//        viewController.coordinator = self
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>149</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>148</string>
					<key>Timestamp</key>
					<string>730034547.828408</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/Screens/ProfileScreen/ProfileModel/ProfileCollectionViewCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    @objc private func contractOfferButtonTapped() {
</string>
				<key>leading</key>
				<string>        profilecoordinator?.pushNotificationButton()
    }
</string>
				<key>trailing</key>
				<string>        print("contractOfferButtonTapped; show service screen")
        profilecoordinator?.pushContactOfferButton()
    }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>96</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>95</string>
					<key>Timestamp</key>
					<string>730061948.153914</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/Coordinators/ProfileCoordinator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>//        viewController.coordinator = self
        navigationController?.pushViewController(viewController, animated: true)
</string>
				<key>trailing</key>
				<string>    
    func pushAboutAppButton() {
        print("showUsefulScreen")
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>31</string>
					<key>EndingLineNumber</key>
					<string>101</string>
					<key>StartingColumnNumber</key>
					<string>23</string>
					<key>StartingLineNumber</key>
					<string>101</string>
					<key>Timestamp</key>
					<string>730106932.473936</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/ru.lproj/Localizable.strings</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>Contract</string>
				<key>leading</key>
				<string>"ProfilePhotoEditAlert.error" = "Ошибка";

//MARK: - Profile Flow </string>
				<key>trailing</key>
				<string> Offer

"ContractOffer.label" = "1. Термины и определения";
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>28</string>
					<key>EndingLineNumber</key>
					<string>122</string>
					<key>StartingColumnNumber</key>
					<string>23</string>
					<key>StartingLineNumber</key>
					<string>122</string>
					<key>Timestamp</key>
					<string>730106936.210049</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>goMaping/mams.paps/ru.lproj/Localizable.strings</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>About</string>
				<key>leading</key>
				<string>паттернов поведения. ";

//MARK: - Profile Flow </string>
				<key>trailing</key>
				<string> App

"AboutApp.description" = "Go Maping - это разнообразный и богатый опыт говорит нам, что начало повседневной работы 
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
